    html, #clickExcel {
  font-family: sans-serif; // 1
  -ms-text-size-adjust: 100%; // 2
  -webkit-text-size-adjust: 100%; // 2
}

body {
  margin: 0;
}


.norm {
   background-color: lightpink;
}

.opt {
   background-color: peachpuff;
}

.done{
   background-color: lightgreen;
}

.show {
   visibility: visible;
}

.hide {
   visibility: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 33%
}

.wrapper {
	display: flex;
}

.navbar-form {
	display: flex;
}

@media screen and (max-width: 800px) {
    .flex-container {
		flex-direction: column;
		width: 100%;
	}
}

#clickExcel {
	height: 50px;
}