.norm {
   background-color: lightpink;
}

.opt {
   background-color: peachpuff;
}

.done{
   background-color: lightgreen;
}

.show {
   visibility: visible;
}

.hide {
   visibility: none;
}

#car {
   background-color: darkorchid;
}

